body{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: #1F1F1F;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
}


nav {
    position: fixed;
    width: 100vw;
    height: 5.5vw;
    margin: 0;
    z-index: 1000;
    top: 0;

    background: #1F1F1F;
    box-shadow: 0vw 0.2vw 1vw 0.4vw rgba(0, 0, 0, 0.2);
}


#Logo {
    position: absolute; 
    width: 10vw; 
    height: auto; 
    left: 1vw; 
    top: 1.75vw;
}

#Download_CV {
    width: 2.2vw;
    height: auto;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: center;
    text-decoration: none;
}

a.NavBar_Buttons {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    text-transform: capitalize;
    position: absolute;
    top: 2vw;   
}

#home:link, #home:visited, #home:hover, #home:active {
    left: 40vw;
}

#about:link, #about:visited, #about:hover, #about:active {
    left: 50vw;
}

#projects:link, #projects:visited, #projects:hover, #projects:active {
    left: 60vw;
}

a.Download_Button{
    position: absolute;
    width: 10vw;
    height: 2.75vw;
    right: 2vw;
    top: 2vw;
    border-radius: 0.5vw;
    background-color: #540D8D;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 0.85vw;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    text-decoration: none;

    color: #FFFFFF;
}

section.row1{
    position: absolute;
    width: 100vw;
    height: 100vw;
    margin: 0;
}

img.Purple_Graph {
    position: absolute; 
    width: 28vw;
    height: auto;
    left: 18vw;
    top: 13vw;    
}

p.Name {
    position: absolute;
    left: 54.5vw;
    top: 15vw;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 2.8vw;
    text-align: left;
    
    color: #FFFFFF;
}

p.Text {
    position: absolute;
    width: 30vw;
    height: 8vw;
    left: 54.5vw;
    top: 21.5vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    text-align: justify;

    color: #FFFFFF;
}

#LearnMore {
    position: absolute;
    width: 9.5vw;
    height: 2.75vw;
    left: 54.5vw;
    top: 29vw;

    background: #540D8D;
    border-radius: 0.5vw;
    border: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.175vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    color: #FFFFFF;    
}

#Contact {
    position: absolute;
    width: 9.5vw;
    height: 2.75vw;
    left: 65.5vw;
    top: 29vw;

    background: #D6DAE4;
    border-radius: 0.5vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.175vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    color: #636363;    
}

#Instagram, #Instagram_Image {
    position: absolute;
    width: 1.75vw;
    height: auto;
    right: 3.85vw;
    top: 24.5vw;
    background-color: #1F1F1F;
    border: none;
}

#LinkedIn, #LinkedIn_Image {
    position: absolute;
    width: 1.75vw;
    height: auto;
    right: 2.4vw;
    top: 24.5vw;
    background-color: #1F1F1F;
    border: none;
}

#GitHub, #GitHub_Image {
    position: absolute;
    width: 1.75vw;
    height: auto;
    right: 1.1vw;
    top: 24.5vw;
    background-color: #1F1F1F;
    border: none;    
}

section.row2{
    position: absolute;
    height: 60vw; 
    top: 52.25vw;
    left: 0;
    flex: 1;
    justify-content: space-between;
    background: #D9D9D9;
    width: 100vw;
}

h1.Heading {
    position: absolute;
    top: 6.75vw;
    left: 48vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: justify;
    text-transform: capitalize;
}

#About_Title{
    color: #540D8D;
}

img.Profile_Pic{
    position: absolute; 
    width: 13.5vw;
    height: auto; 
    left: 10vw;
    top: 15vw;    
}

p.Name_ {

    position: absolute;
    width: 15vw;
    left: 24.75vw;
    top: 16.5vw;   

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 2vw;
    text-transform: capitalize;

    color: #000000;
}

p.Age {

    position: absolute;
    width: 15vw;
    left: 25vw;
    top: 20vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    text-transform: capitalize;

    color: #000000;
}

p.Email_1 {

    position: absolute;
    width: 15vw;
    left: 24.75vw;
    top: 22vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;

    color: #7D7D7D;
}

p.Bio {

    position: absolute;
    width: 43vw;
    left: 10vw;
    top: 28vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 0.85vw;

    color: #343434;
}

h2.Heading_Bottom_Row_2 {

    position: absolute;
    width: 20vw;
    height: 3vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.6vw;
    text-transform: capitalize;

    color: #540D8D;
}

p.Lists {

    position: absolute;
    width: 17vw;
    height: 3vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1vw;
    text-transform: capitalize;

    color: #3E3E3E;
}

#Professional_Exp {
    left: 10vw;
    top: 39.5vw;
}


#Skills {
    left: 35vw;
    top: 39.5vw;
}

#Experience {
    left: 10vw;
    top: 42.5vw;
}

#Skills_List {
    left: 35vw;
    top: 42.5vw;
}

h2.Subtitles_Left {
    position: absolute;
    left: 68.5vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.3vw;
    text-transform: capitalize;

    color: #540D8D;
}

#Programming_Languages {
    top: 12vw;

}

#Frameworks {
    top: 24.5vw;

}

#Languages {
    top: 37.5vw;
}

div.Skill_Boxes_Left {
    position: absolute;
    width: 9vw;
    height: 2.3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: #D9D9D9;
    box-shadow: 0vw 0.7vw 1vw 0.2vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1vw;
    line-height: 1vw;
    text-transform: capitalize;

    color: #3E3E3E;
}

#Python {
    left: 68.5vw;
    top: 16vw;
}

#SQL {
    left: 68.5vw;
    top: 19vw;
}

#HTML{
    left: 78.5vw;
    top: 16vw;
}

#CSS {
    left: 78.5vw;
    top: 19vw;
}

#Django {
    left: 78.5vw;
    top: 28vw;
}

#Streamlit {
    left: 68.5vw;
    top: 31vw;
}

#Scikit-Learn {
    left: 68.5vw;
    top: 28vw;
}

#TensorFlow {
    left: 78.5vw;
    top: 31vw;
}

#Portuguese {
    left: 78.5vw;
    top: 41vw;
}

#English {
    left: 68.5vw;
    top: 41vw;
}

#German {
    left: 78.5vw;
    top: 44vw;
}

#French {
    left: 68.5vw;
    top: 44vw;
}

section.row3 {
    position: absolute;
    top: 100vw;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1F1F1F;
    width: 100vw;
    height: 60vw;
    margin-top: 4vw;
}

#Projects_Title {
    left: 46.75vw;
    color: #FFFFFF;
}

div.Projects_Boxes {

    position: absolute;
    width: 20vw;
    height: 27vw;
    top: 17.5vw;

    background-color: #292929 ;
    box-shadow: 0vw 1vw 2vw 1vw rgba(0, 0, 0, 0.1);
    border-radius: 1.2vw;
}

#row3_col1 {
    left: 5.5vw;
}

#row3_col2 {
    left: 41.75vw;
}

#row3_col3 {
    left: 77vw;
}

h3.Heading_Boxes {

    position: relative;
    left: 1vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 1.2vw;
    text-transform: capitalize;

    color: #FFFFFF;
}

#Project_2 {
    font-size: 1.27vw;
}


h4.Descriptions_Heading {

    position: relative;
    left: 1vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    text-transform: capitalize;

    color: #e9ecef;
}

#Description_2 {
    top: 0vw;
}

#Description_3 {
    top: 0.6vw;
}

p.Paragraph_Descriptions {
    position: relative;
    width: 17.5vw;
    height: 8.5vw;
    left: 1vw;
    top: -1vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 0.75vw;
    text-align: justify;

    color: #dee2e6;
}

#Paragraph_Description_1, #Paragraph_Description_2 {
    top: -1vw;
}

#Paragraph_Description_3 {
    top: -0.5vw;
}

h4.Tools_Heading {

    position: relative;
    left: 1vw;
    top: 0.8vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    text-transform: capitalize;

    color: #e9ecef;
}

#Tools_2 {
    top: 0.6vw;
}

div.Tools_Boxes {

    position: absolute;
    height: 2vw;
    top: 21vw;

    background: #CDCDCD;
    box-shadow: 0vw 0.5vw 2vw 0.5vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75vw;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: #420E6C;
}

#Python_Tool_1, #Python_Tool_2, #Python_Tool_3 {
    left: 1vw;
    width: 4vw;
}

#Streamlit_Tool_1 {
    left: 6vw;
    width: 5vw;
}

#TensorFlow_Tool_2 {
    left: 6vw;
    width: 5.5vw;    
}

a.GitHub_Buttons {

    position: absolute;
    width: 15vw;
    height: 2.25vw;
    top: 24vw;
    left: 2.5vw;

    background: #540D8D;
    border-radius: 0.625vw;
    border: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.85vw;
    text-align: justify;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    color: #FFFFFF;
}

img.GitHub_Download {
    width: 1.25vw;
    height: auto;   
}

footer.Bottom_NavBar {

    position: absolute;
    width: 100vw;
    height: 12.5vw;
    top: 155vw;
    padding: 0;

    background: #1F1F1F;
    box-shadow: 0vw 0.5vw 1vw 0.75vw rgba(0, 0, 0, 0.2);
}

img.Logo_Bottom {
    position: absolute; 
    width: 17vw; 
    height: auto; 
    left: 3.5vw; 
    top: 3vw;    
}

img.Gmail {
    position: absolute; 
    left: 45vw; 
    top: 5.35vw;
    height: auto; 
    width: 1.5vw;
}

img.Call {
    position: absolute; 
    left: 45vw; 
    top: 7.55vw;
    width: 1.5vw;
    height: auto;
}

img.Group_Symbol {
    position: absolute; 
    left: 64.75vw; 
    top: 11.1vw;    
    width: 0.75vw;
    height: auto;
}

p.Contact_Bottom {

    position: absolute;
    left: 45vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.15vw;
    text-align: justify;
    text-transform: capitalize;

    color: #FFFFFF;
}

p.Gmail_Bottom {

    position: absolute;
    left: 46.85vw;
    top: 4.85vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8vw;
    text-align: justify;

    color: #FFFFFF;
}

p.Phone_Bottom {

    position: absolute;
    left: 46.85vw;
    top: 6.8vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8vw;
    text-align: justify;
    text-transform: capitalize;

    color: #FFFFFF;
}

p.Social_Media_Bottom {

    position: absolute;
    right: 5vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.35vw;
    text-align: justify;
    text-transform: capitalize;

    color: #FFFFFF;
}

p.Copyright {

    position: absolute;
    left: 40.75vw;
    top: 10.45vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.68vw;
    text-align: justify;

    color: #FFFFFF;
}

#Instagram_Bottom_Button, #Instagram_Bottom_Image{
    position: absolute; 
    right: 9vw; 
    top: 2.95vw;
    background: none;
    border: none;
    width: 1.75vw;
    height: auto;
}

#LinkedIn_Bottom_Button, #LinkedIn_Bottom_Image{
    position: absolute; 
    right: 7.5vw;
    top: 2.95vw;
    background: none;
    border: none;
    width: 1.75vw;
    height: auto;
}

#GitHub_Bottom_Button, #GitHub_Bottom_Image {
    position: absolute; 
    right: 6vw;
    top: 2.95vw;
    background: none;
    border: none;
    width: 1.75vw;
    height: auto;
}