{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> 📊 Portfolio Website</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="NavBar">
        <img src="{% static '/images/logo_gabriel.png'%}" alt="Logo" style="position: absolute; width: 191px; height: 51px; left: 51px; top: 38px;">
        
        <ul>
            <li> <a class="home" href="hyperlink to be added">Home</a> </li>
            <li> <a class="about" href="hyperlink to be added">About</a> </li>
            <li> <a class="projects" href="hyperlink to be added">Projects</a> </li>
        </ul>
    

        <button class="Download_Button" type="button"> 
            <img src="{% static '/images/download_cv.png' %}" alt="Download Icon">
            Download CV
        </button> 
    </nav>

    <div class="row1">

        <div class="row1_col1">
            <img class="purple_graph" src="{% static '/images/purple_graph.png'%}" alt="Homepage Image" style="position: absolute; width: 426px; height: 496px; left: 126px; top: 168px;" >
        </div>

        <div class="row1_col2">
            <p class="Name">Gabriel Vieira</p>
            <p class="Text">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI,</p>
            <button class="LearnMore" type="button"> Learn More </button>
            <button class="Contact" type="button"> Contact </button>
            <button class="Instagram" type="button"> <img src="{% static '/images/instagram.png' %}" alt="instagram Icon"> </button>
            <button class="LinkedIn" type="button"> <img src="{% static '/images/linkedin.png' %}" alt="LinkedIn Icon"> </button>
            <button class="GitHub" type="button"> <img src="{% static '/images/github.png' %}" alt="GitHub Icon"> </button>
        </div>

    </div>

    <div class="row2">
        <nav class="NavBar">
            <img src="{% static '/images/logo_gabriel.png'%}" alt="Logo" style="position: absolute; width: 191px; height: 51px; left: 51px; top: 38px;">
            
            <ul>
                <li> <a class="home" href="hyperlink to be added">Home</a> </li>
                <li> <a class="about" href="hyperlink to be added">About</a> </li>
                <li> <a class="projects" href="hyperlink to be added">Projects</a> </li>
            </ul>
        
    
            <button class="Download_Button" type="button"> 
                <img src="{% static '/images/download_cv.png' %}" alt="Download Icon">
                Download CV
            </button> 
        </nav>
        <div class="row2_col1">

            <div class="row_2_col1_col1">
                <img src="{% static '/images/profile_pic.png' %}" alt="Profile Picture" style="position: absolute; width: 244px; height: 244px; left: 96px; top: 169px;">
            </div>

            <div class="row_2_col1_col2">
                <p class="Name_">Gabriel Vieira</p>
                <p class="Age">24 Years Old</p>
                <p class="Email_1">devGvieira@gmail.com</p>
            </div>

            <p class="Bio">A professional proficient in Portuguese, English, German and French with 6 years experience in physics, wherein I conducted research on both theoretical and experimental physics, namely cosmology and X-ray computed microtomography, and also engaged on teaching children and teenagers not only physics but also mathematics, English, history, philosophy, sociology and geography.</p>

        </div>
    </div>

    <div class="row_2_col1_col1">
        <p class="Professional_Exp">Professional Experience</p>
        <p class="Experience">AI Resident | Physics Reseacher Teacher | Technical Translator</p>
    </div>

    <div class="row_2_col1_col2">
        <p class="Skills">Skills</p>
        <p class="Skills_List">AI Specialist | Data Scientist Software Developer | Polyglot</p>
    </div>

    <div class="row2_col2"> 
        <p class="Programming_Languages">Programming Languages</p>
            <div class="Python">Python</div>
            <div class="SQL">SQL</div>
            <div class="HTML">HTML</div>
            <div class="CSS">CSS</div>
        <p class="Frameworks">Frameworks</p>
            <div class="Django">Django</div>
            <div class="Streamlit">Streamlit</div>
            <div class="TensorFlow">TensorFlow</div>
            <div class="Scikit-Learn">Scikit-Learn</div>
        <p class="Languages">Languages</p>
            <div class="Portuguese">Portuguese</div>
            <div class="English">English</div>
            <div class="German">German</div>
            <div class="French">French</div>
    </div>
</div>

<div class="row3">

    <nav class="NavBar">
        <img src="{% static '/images/logo_gabriel.png'%}" alt="Logo" style="position: absolute; width: 191px; height: 51px; left: 51px; top: 38px;">
        
        <ul>
            <li> <a class="home" href="hyperlink to be added">Home</a> </li>
            <li> <a class="about" href="hyperlink to be added">About</a> </li>
            <li> <a class="projects" href="hyperlink to be added">Projects</a> </li>
        </ul>
    

        <button class="Download_Button" type="button"> 
            <img src="{% static '/images/download_cv.png' %}" alt="Download Icon">
            Download CV
        </button> 
    </nav>

    <p class="Projects">Projects</p>

    <div class="row3_col1">
        <p class="Project_1">Project 01</p>
        <p class="Description_1">Description</p>
        <p class="Paragraph_Description_1">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI,</p>
        <p class="Tools_1">Programming Languages</p>
        <div class="Python_Tool_1">Python</div>
        <button class="Repository_1">
            <img src="{% static '/images/github_button.png' %}" alt="Download Icon">
            GitHub Repository
        </button>
    </div>

    <div class="row3_col2">
        <p class="Project_2">Project 02</p>
        <p class="Description_2">Description</p>
        <p class="Paragraph_Description_2">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI,</p>
        <p class="Tools_2">Programming Languages</p>
        <div class="Python_Tool_2">Python</div>
        <button class="Repository_2">
            <img src="{% static '/images/github_button.png' %}" alt="Download Icon">
            GitHub Repository
        </button>
    </div>

    <div class="row3_col3">
        <p class="Project_3">Project 03</p>
        <p class="Description_3">Description</p>
        <p class="Paragraph_Description_3">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI,</p>
        <p class="Tools_3">Programming Languages</p>
        <div class="Python_Tool_3">Python</div>
        <button class="Repository_3">
            <img src="{% static '/images/github_button.png' %}" alt="Download Icon">
            GitHub Repository
        </button>
    </div>
</div>

</body>

</html>